# Tic-Tac-Toe
http://archive.ics.uci.edu/ml/datasets/Tic-Tac-Toe+Endgame

### Data Set Information:

This database encodes the complete set of possible board configurations at the end of tic-tac-toe games, where "x" is assumed to have played first. The target concept is "win for x" (i.e., true when "x" has one of 8 possible ways to create a "three-in-a-row").

### Attribute Information:

1. top-left-square: {x,o,b}
2. top-middle-square: {x,o,b}
3. top-right-square: {x,o,b}
4. middle-left-square: {x,o,b}
5. middle-middle-square: {x,o,b}
6. middle-right-square: {x,o,b}
7. bottom-left-square: {x,o,b}
8. bottom-middle-square: {x,o,b}
9. bottom-right-square: {x,o,b}
10. Class: {positive,negative}

In [2]:
import numpy as np
import pandas as pd
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split

In [9]:
df = pd.read_csv('data/tic-tac-toe.data')
df.head()

   x x.1 x.2 x.3  o o.1 x.4 o.2 o.3  positive
0  x   x   x   x  o   o   o   x   o  positive
1  x   x   x   x  o   o   o   o   x  positive
2  x   x   x   x  o   o   o   b   b  positive
3  x   x   x   x  o   o   b   o   b  positive
4  x   x   x   x  o   o   b   b   o  positive

In [10]:
df = df.replace('x', 1).replace('o',-1).replace('b',0).replace('positive',1).replace('negative',0)
df.head()

   x  x.1  x.2  x.3  o  o.1  x.4  o.2  o.3  positive
0  1    1    1    1 -1   -1   -1    1   -1         1
1  1    1    1    1 -1   -1   -1   -1    1         1
2  1    1    1    1 -1   -1   -1    0    0         1
3  1    1    1    1 -1   -1    0   -1    0         1
4  1    1    1    1 -1   -1    0    0   -1         1

In [11]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [12]:
X_train,X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [17]:
nn=MLPClassifier(activation='tanh', solver='adam', hidden_layer_sizes=(6,2), max_iter=100, learning_rate_init=0.2)
nn.fit(X_train,y_train)

pred = nn.predict(X_test)


print("Percentuale apprendimento: {}%".format(round((len(pred) - sum((pred - y_test.values)**2)) / len(pred) * 100, 2)))

Percentuale apprendimento: 98.96%

In [18]:
print("{} classificazioni errate su {}".format(sum((pred - y_test.values)**2), len(pred)))

2 classificazioni errate su 192