In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import GridSearchCV
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
from my_functions import integer_perturbation, get_X_pca_totals, contains_at_least_one, add_new_elements_pca

In [2]:
df = pd.read_excel('data/IncidentiModificato.xlsx', index_col='VERBALE')
df = df.drop(columns=["DATA"])
X = df[['SESSO', 'ANNI', 'PESO', 'ALTEZZA', 'BMI', 'Tot Testa', 'Tot Torace', 'Tot Addome', 'Tot Scheletro']]
y = df['Mezzo']

df.head()

,SESSO,ANNI,PESO,ALTEZZA,BMI,Mezzo,Testa:Neurocranio,Testa:Splancnocranio,Testa:Telencefalo,Testa:Cervelletto,...,Scheletro:Rachide-cervicale,Scheletro:Rachide-toracico,Scheletro:Rachide-lombare,Scheletro:Bacino-e-sacro,Scheletro:Complesso-sterno/claveo/costale,Tot Testa,Tot Torace,Tot Addome,Tot Scheletro,Totale
VERBALE,,,,,,,,,,,,,,,,,,,,,
85567,0,81,84.0,1.75,27.428571,0,1,0,0,0,...,0,3,0,3,3,2,0,3,9,14
85829,1,69,69.0,1.62,26.291724,1,4,4,4,4,...,0,0,0,0,4,20,7,1,4,32
85977,1,71,67.0,1.55,27.887617,1,2,0,1,1,...,0,0,0,0,4,6,0,0,4,10
86220,1,54,60.0,1.59,23.733238,1,4,0,0,1,...,0,0,0,0,4,5,3,2,4,14
86247,1,78,69.0,1.67,24.740937,1,2,0,0,0,...,0,0,0,0,4,2,0,2,4,8

In [49]:
from sklearn.manifold import TSNE 

index_continui = df.columns[:5]
index_lesioni = df.columns[6:-5]

X_dati_continui_TSNE = TSNE(n_components=3, perplexity=70, method='exact').fit_transform(df[index_continui])
X_dati_lesioni_TSNE = TSNE(n_components=3, perplexity=70, method='exact').fit_transform(df[index_lesioni])

In [50]:
list_TSNE = []
for i in range(len(X_dati_continui_TSNE)):
    list_TSNE.append(np.concatenate((X_dati_continui_TSNE[i], X_dati_lesioni_TSNE[i])))
df_TSNE = pd.DataFrame(np.array(list_TSNE))

In [51]:
df_TSNE.head()

           0          1           2           3           4           5
0 -34.418255  44.225430  169.446213  -74.489067  -23.254539  116.592781
1 -52.020878   8.928648  -44.019032  -13.119912 -140.731552 -143.876297
2  86.884178   9.404860  -72.032516   99.249184   67.545105   -2.958269
3 -48.753490 -31.268835    7.312100  104.515411   13.877701  -44.132206
4 -11.712326  86.604416   40.180283   29.874331  -22.439728  -32.860069

In [52]:
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import GridSearchCV, cross_val_score, StratifiedKFold

params = {'hidden_layer_sizes': [[2], [4], [6], [10], [20], [4, 4], [10, 10]],
          'learning_rate_init' : [0.01, 0.2, 0.001],
          'activation': ['identity', 'logistic', 'tanh', 'relu']}

mlp = MLPClassifier(max_iter=5000)

clf = GridSearchCV(mlp, params, n_jobs=-1, cv=5)
scores = cross_val_score(clf, df_TSNE, y, cv=3)
print("\nAccuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))
scores

Accuracy: 0.45 (+/- 0.03)

array([0.43181818, 0.46511628, 0.44186047])

In [167]:
n = 200
stds = list(df_TSNE.std())

fakes = pd.DataFrame()

for i in range(n):
    sample = df_TSNE.sample()
    for i in sample.columns[:-1]:
        sample[int(i)] += np.random.normal(0, stds[i] * 0.05)
    df_TSNE.loc["FAKE_" + str(i)] = sample

ValueError: cannot set a row with mismatched columns

In [168]:
len(df_TSNE)

130

In [162]:
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [155]:
samp

,0,1,2,3,4,5,Mezzo
1,123070.979122,8.928648,-44.019032,-13.119912,-140.731552,-143.876297,1

In [156]:
df_TSNE.append(samp)

,0,1,2,3,4,5,Mezzo
0,-34.418255,44.225430,169.446213,-74.489067,-23.254539,116.592781,0
1,-52.020878,8.928648,-44.019032,-13.119912,-140.731552,-143.876297,1
2,86.884178,9.404860,-72.032516,99.249184,67.545105,-2.958269,1
3,-48.753490,-31.268835,7.312100,104.515411,13.877701,-44.132206,1
4,-11.712326,86.604416,40.180283,29.874331,-22.439728,-32.860069,1
5,45.529079,-35.824352,28.768452,129.089935,-115.585464,-126.771584,1
6,8.400043,-68.013153,-109.934364,162.378281,-0.816307,104.196556,1
7,104.827271,144.176651,-75.457268,29.343359,-64.866638,98.541222,1
8,-95.248848,57.485313,125.670403,95.371559,-8.991525,191.964508,1
9,38.185341,-60.817291,98.293747,-163.522461,-47.747398,-9.635037,1
10,48.789646,90.826866,-98.532906,-76.349724,-171.843536,12.442803,1
11,-35.528099,39.452938,2.390920,55.619942,-77.075951,153.590332,1
12,92.850578,41.181732,48.077511,-16.133493,-58.847500,-164.328033,1
13,98.047379,69.980347,-54.190228,16.145838,-128.502167,121.216972,1
14,16.227373,-26.926004,-157.492432,-167.347855,130.886459,-35.644260,1
15,-23.705835,-109.618774,-66.851463,73.939194,138.386810,12.473725,1
16,116.835884,-143.154541,33.304195,57.627422,-133.705750,-112.712067,1
17,93.309525,107.269966,56.349983,-129.408966,117.328072,-100.212387,1
18,41.911823,30.326534,-107.095985,-150.555923,-124.427864,44.209396,1
19,-148.941086,86.364517,-8.160228,-22.859724,46.060398,-125.040321,1
20,-75.258919,-64.427666,-89.012985,-114.916214,-75.643745,81.425201,1
21,54.054081,83.454971,10.910380,-124.459076,34.208843,28.825264,1
22,94.261917,131.905762,-7.166255,203.874664,-8.907243,20.427319,1
23,-165.462860,-67.872055,-29.040827,73.487091,-140.727524,-45.670620,1
24,-29.075773,31.076647,60.545380,-64.198967,79.179398,-88.272591,0
25,-25.935766,-63.457272,118.866020,-78.760353,-30.379404,38.536301,0
26,40.266209,-124.760963,-16.749273,-133.062332,154.703247,76.323807,1
27,100.508224,-127.190742,-46.764133,-152.345490,-66.377686,-80.681679,1
28,42.248535,123.861603,-47.119789,113.640175,93.421814,64.326469,0
29,166.329269,78.092888,-54.920135,12.312241,2.096477,-166.354095,0
...,...,...,...,...,...,...,...
101,104.599350,95.739738,126.345200,-107.354782,49.604671,-136.972702,1
102,82.056854,-112.886734,123.328735,-68.422318,31.237017,73.361588,1
103,38.924923,-173.338562,-91.253952,140.369156,135.934845,7.532369,0
104,-27.418997,80.079727,103.562439,-34.761974,-80.509560,96.741249,0
105,-4.853426,-72.173294,13.284216,-37.259377,-166.107956,79.129288,0
106,-123.840019,-140.825577,27.940521,-44.656464,-84.521103,-19.101755,0
107,-69.279541,74.177208,-64.627884,-91.991745,99.476891,119.531113,1
108,-21.760208,83.334190,-112.914574,-91.435478,-158.458435,-75.814445,1
109,20.494505,105.263573,-168.908005,71.841026,3.258585,6.368718,1
110,30.292217,124.648743,64.250916,13.680430,92.702049,-93.250587,0
111,160.516922,109.862488,37.148647,77.892319,-197.140625,7.069025,1
112,183.824631,-4.154248,-3.602171,-6.049439,58.000507,91.968369,1
113,46.136135,35.520237,-171.647369,185.847122,-80.092064,7.247082,0
114,-90.480858,-99.361832,114.127731,102.094963,154.988556,-67.081215,0
115,-106.834595,132.419525,127.706757,-52.495907,-3.705111,182.639328,0
116,-147.779480,59.817940,57.926765,-53.672176,25.051462,-3.519705,0
117,-83.477745,-12.571218,56.167091,81.039024,-35.250095,73.173073,1
118,-8.818858,-26.321594,53.873154,-150.600784,-21.669481,63.050583,0
119,38.876995,-70.327927,-33.285877,55.697483,47.419506,102.794380,1
120,87.263718,-84.904396,12.749909,-20.353508,158.025269,-91.377197,0
121,24.080004,-93.758293,164.431519,28.471695,49.412067,-13.198036,0
122,-105.065613,122.794090,-40.990227,36.782063,1.149949,57.974220,0
123,93.673943,-50.757919,-47.780476,73.373085,74.829697,-62.172676,1
124,113.104462,88.828102,-117.370682,-9.489819,34.047112,35.447235,1
125,-32.975605,128.539597,-64.747353,-61.086239,-9.441193,-162.723862,0
126,30.593044,-20.295788,-71.138680,-105.807175,8.782989,-202.195129,0
127,26.246983,-26.753693,174.529144,-28.948223,-76.006966,161.886917,1
128,-66.008759,-11.597632,118.957214,-37.587399,-22.876534,-39.411346,0
129,-2.638092,81.571762,-26.060095,47.924877,-81.510437,-167.180008,0
1,123070.979122,8.928648,-44.019032,-13.119912,-140.731552,-143.876297,1

In [159]:
samp.index = 2

TypeError: Index(...) must be called with a collection of some kind, 2 was passed