In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split
%matplotlib inline

In [35]:
df = pd.read_csv('tic-tac-toe.data')
df.head()

   x x.1 x.2 x.3  o o.1 x.4 o.2 o.3  positive
0  x   x   x   x  o   o   o   x   o  positive
1  x   x   x   x  o   o   o   o   x  positive
2  x   x   x   x  o   o   o   b   b  positive
3  x   x   x   x  o   o   b   o   b  positive
4  x   x   x   x  o   o   b   b   o  positive

In [37]:
df = df.replace('x', 1).replace('o',2).replace('b',0).replace('positive',1).replace('negative',0)
df.head()

   x  x.1  x.2  x.3  o  o.1  x.4  o.2  o.3  positive
0  1    1    1    1  2    2    2    1    2         1
1  1    1    1    1  2    2    2    2    1         1
2  1    1    1    1  2    2    2    0    0         1
3  1    1    1    1  2    2    0    2    0         1
4  1    1    1    1  2    2    0    0    2         1

In [34]:
list(df.loc[0])

['x', 'x', 'x', 'x', 'o', 'o', 'o', 'x', 'o', 'positive']

In [27]:
def print_game(game):
    print(game[-1])
    for i in range(0,9,3):
        print(game[i], game[i+1], game[i+2])
    print()
    
for game in df.values[:3]:
    print_game(game)

positive
x x x
x o o
o x o

positive
x x x
x o o
o o x

positive
x x x
x o o
o b b

     x  x.1  x.2  x.3  o  o.1  x.4  o.2  o.3  positive
0    1    1    1    1  2    2    2    1    2         1
1    1    1    1    1  2    2    2    2    1         1
2    1    1    1    1  2    2    2    0    0         1
3    1    1    1    1  2    2    0    2    0         1
4    1    1    1    1  2    2    0    0    2         1
5    1    1    1    1  2    0    2    2    0         1
6    1    1    1    1  2    0    2    0    2         1
7    1    1    1    1  2    0    0    2    2         1
8    1    1    1    1  0    2    2    2    0         1
9    1    1    1    1  0    2    2    0    2         1
10   1    1    1    1  0    2    0    2    2         1
11   1    1    1    2  1    2    1    2    2         1
12   1    1    1    2  1    2    2    1    2         1
13   1    1    1    2  1    2    2    2    1         1
14   1    1    1    2  1    2    2    0    0         1
15   1    1    1    2  1    2    0    2    0         1
16   1    1    1    2  1    2    0    0    2         1
17   1    1    1    2  1    0    2    2    0         1
18   1    1    1    2  1    0    2    0    2         1
19   1    1    1    2  1    0    0    2    2         1
20   1    1    1    2  2    1    1    2    2         1
21   1    1    1    2  2    1    2    1    2         1
22   1    1    1    2  2    1    2    2    1         1
23   1    1    1    2  2    1    2    0    0         1
24   1    1    1    2  2    1    0    2    0         1
25   1    1    1    2  2    1    0    0    2         1
26   1    1    1    2  2    0    1    2    0         1
27   1    1    1    2  2    0    1    0    2         1
28   1    1    1    2  2    0    2    1    0         1
29   1    1    1    2  2    0    2    0    1         1
..  ..  ...  ...  ... ..  ...  ...  ...  ...       ...
927  0    0    1    1  1    0    2    2    2         0
928  0    0    1    1  0    1    2    2    2         0
929  0    0    1    2  2    2    1    1    0         0
930  0    0    1    2  2    2    1    0    1         0
931  0    0    1    2  2    2    0    1    1         0
932  0    0    1    0  1    1    2    2    2         0
933  0    0    2    1  1    2    1    0    2         0
934  0    0    2    1  1    2    0    1    2         0
935  0    0    2    1  2    1    2    1    0         0
936  0    0    2    1  2    1    2    0    1         0
937  0    0    2    1  2    0    2    1    1         0
938  0    0    2    1  0    2    1    1    2         0
939  0    0    2    0  1    2    1    1    2         0
940  0    0    2    0  2    1    2    1    1         0
941  1    1    2    2  1    1    1    2    2         0
942  1    1    2    2  2    1    1    1    2         0
943  1    1    2    2  2    1    1    2    1         0
944  1    2    1    1  1    2    2    1    2         0
945  1    2    1    1  2    1    2    1    2         0
946  1    2    1    1  2    2    2    1    1         0
947  1    2    1    2  1    1    2    1    2         0
948  1    2    1    2  2    1    1    1    2         0
949  1    2    2    2  1    1    1    1    2         0
950  2    1    1    1  1    2    2    2    1         0
951  2    1    1    1  2    2    1    2    1         0
952  2    1    1    1  2    2    2    1    1         0
953  2    1    2    1  1    2    1    2    1         0
954  2    1    2    1  2    1    1    2    1         0
955  2    1    2    2  1    1    1    2    1         0
956  2    2    1    1  1    2    2    1    1         0

[957 rows x 10 columns]