In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import GridSearchCV
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
from my_functions import integer_perturbation, get_X_pca_totals, contains_at_least_one, add_new_elements_pca

In [2]:
df = pd.read_excel('data/IncidentiModificato.xlsx', index_col='VERBALE')
df = df.drop(columns=["DATA"])
X = df[['SESSO', 'ANNI', 'PESO', 'ALTEZZA', 'BMI', 'Tot Testa', 'Tot Torace', 'Tot Addome', 'Tot Scheletro']]
y = df['Mezzo']

df.head()

,SESSO,ANNI,PESO,ALTEZZA,BMI,Mezzo,Testa:Neurocranio,Testa:Splancnocranio,Testa:Telencefalo,Testa:Cervelletto,...,Scheletro:Rachide-cervicale,Scheletro:Rachide-toracico,Scheletro:Rachide-lombare,Scheletro:Bacino-e-sacro,Scheletro:Complesso-sterno/claveo/costale,Tot Testa,Tot Torace,Tot Addome,Tot Scheletro,Totale
VERBALE,,,,,,,,,,,,,,,,,,,,,
85567,0,81,84.0,1.75,27.428571,0,1,0,0,0,...,0,3,0,3,3,2,0,3,9,14
85829,1,69,69.0,1.62,26.291724,1,4,4,4,4,...,0,0,0,0,4,20,7,1,4,32
85977,1,71,67.0,1.55,27.887617,1,2,0,1,1,...,0,0,0,0,4,6,0,0,4,10
86220,1,54,60.0,1.59,23.733238,1,4,0,0,1,...,0,0,0,0,4,5,3,2,4,14
86247,1,78,69.0,1.67,24.740937,1,2,0,0,0,...,0,0,0,0,4,2,0,2,4,8

In [49]:
from sklearn.manifold import TSNE 

index_continui = df.columns[:5]
index_lesioni = df.columns[6:-5]

X_dati_continui_TSNE = TSNE(n_components=3, perplexity=70, method='exact').fit_transform(df[index_continui])
X_dati_lesioni_TSNE = TSNE(n_components=3, perplexity=70, method='exact').fit_transform(df[index_lesioni])

In [50]:
list_TSNE = []
for i in range(len(X_dati_continui_TSNE)):
    list_TSNE.append(np.concatenate((X_dati_continui_TSNE[i], X_dati_lesioni_TSNE[i])))
df_TSNE = pd.DataFrame(np.array(list_TSNE))

In [51]:
df_TSNE.head()

           0          1           2           3           4           5
0 -34.418255  44.225430  169.446213  -74.489067  -23.254539  116.592781
1 -52.020878   8.928648  -44.019032  -13.119912 -140.731552 -143.876297
2  86.884178   9.404860  -72.032516   99.249184   67.545105   -2.958269
3 -48.753490 -31.268835    7.312100  104.515411   13.877701  -44.132206
4 -11.712326  86.604416   40.180283   29.874331  -22.439728  -32.860069

In [52]:
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import GridSearchCV, cross_val_score, StratifiedKFold

params = {'hidden_layer_sizes': [[2], [4], [6], [10], [20], [4, 4], [10, 10]],
          'learning_rate_init' : [0.01, 0.2, 0.001],
          'activation': ['identity', 'logistic', 'tanh', 'relu']}

mlp = MLPClassifier(max_iter=5000)

clf = GridSearchCV(mlp, params, n_jobs=-1, cv=5)
scores = cross_val_score(clf, df_TSNE, y, cv=3)
print("\nAccuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))
scores

Accuracy: 0.45 (+/- 0.03)

array([0.43181818, 0.46511628, 0.44186047])

In [64]:
n = 200
stds = list(df_TSNE.std())

for i in range(n):
    sample = df_TSNE.sample()
    for i in sample.columns[:-1]:
        sample[i]

[86.43209919724282,
 94.69660348796678,
 88.95731652467374,
 95.24163499740932,
 92.24806765217348,
 94.38956136849849,
 0.5004470273579542]

In [81]:
samp = df_TSNE.sample()
samp[0] = samp[0] + 123123

In [124]:
np.random.normal(0, 5)

-6.2895162199301256

In [140]:
for i in samp.columns[:-1]:
    print(i)

0
1
2
3
4
5